h3{
    color:rgb(138,36,94);
}

h5{
    color:rgb(138,36,94);
}

nav{
    background-color: rgba(255, 215, 182, 0.855);
}

div#postView{
    background-color: rgba(223, 159, 195, 0.464);
}

div.card{
    background-color: rgba(223, 159, 195, 0.464);
}

div.modal-content{
    background-color: rgba(255, 215, 182, 0.925);
}

div.offcanvas{
    background-color: rgb(255, 215, 182);
}

a{
    color: rgb(0, 0, 0)
}

body{
    background-color: rgba(255, 215, 182, 0.238);
}

li.list-group-item{
    background-color: rgba(255, 215, 182, 0.09);
}

table.table{
    background-color: rgb(255, 215, 182);
}
