h3{
    color:rgb(138,36,94);
}

h5{
    color:rgb(138,36,94);
}

nav{
    background-color: rgba(86, 183, 86, 0.415);
}

div#postView{
    border-radius: 10px;
    background-color: rgb(244, 250, 244);
}

div.card{
    border-radius: 10px;
    background-color: rgba(86, 183, 86, 0.46);
}

div.modal-content{
    background-color: rgba(133, 212, 132, 0.925);
}


div.offcanvas{
    background-color: rgba(133, 212, 132, 0.925);
}

a{
    text-decoration-line: none;
    color:rgb(138,36,94);
}


body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
    background-color: rgba(133, 212, 132, 0.21);
}

li.list-group-item{
    background-color: rgba(133, 212, 132, 0.292);
}

th.tot, td.tot{ 
    background-color: rgba(184, 86, 142, 0.912);
    color: white;
}

th.quota, td.quota{
    background-color: rgba(70, 146, 70, 0.734);
    color: white;
}

th.prod{
    background-color: rgba(133, 212, 132, 0.656);
}

td.price{
    background-color: rgba(133, 212, 132, 0.475);
}

div.shop{
    text-align: center;
}

li{
    list-style-type: none;
}

input#srcevent, input#srcprofile{
    margin-bottom: 10px;
}