h3{
    color:rgb(138,36,94);
}

nav{
    background-color: rgba(255, 215, 182, 0.855);
}

div#postView{
    background-color: rgba(223, 159, 195, 0.614);
}

div.card{
    background-color: rgba(223, 159, 195, 0.614);
}

a{
    color: rgb(36,138,36)
}

body{
    background-color: rgba(255, 215, 182, 0.41);
}
